@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --svgBackground: #0f0f0f;
    --webBackground: #222;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--webBackground);
}

button {
    border: none;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    margin: 10px;
    text-align: center;
    background-color: #282C35;
    border-radius: 20px;
    width: 465px;
}

.iconos {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.svgs {
    margin: 5px;
    cursor: pointer;
    background-color: var(--svgBackground);
    padding: 15px;
    border-radius: 10px;
    color: #ffffff6c;
    transition: all 0.3s;
}

.svgs:hover {
    color: #fff;
    transform: scale(1.15, 1.15);
}

.footerContent {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
}

.footer {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #afa89b;
    text-decoration: none;
    transition: all 0.2s;
}

.footer:hover {
    color: #7282ff;
}